@import '../../../assets/scss/variables.mod';

.legendItem{
  color: #808191;
  &:before{
    content: "\A";
    display: inline-block;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    margin-right: 8px;
    background: var(--dotColor);
  }
    
  &:after{
    border-right: 1px solid $borderColor;
  }
}